.view{

    text-align: justify;
    background: chartreuse;
    padding: 3%;
    margin: 1% 4%;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 2.5rem;

    
}